---
import Layout from "../layouts/Layout.astro";
import { ComponentsCollection } from "../components/components-collection";
---

<Layout>
  <div class="p-10">
    <ComponentsCollection />
  </div>
</Layout>
