---
import { ComparisonDaisy01 } from "@/components/comparison/01-daisy";
import Layout from "../layouts/Layout.astro";
import { ComparisonShadcn01 } from "@/components/comparison/01-shadcn";
---

<Layout>
  <div class="container-wrapper">
    <div class="container py-6">
      <ComparisonShadcn01 client:only="react" />
    </div>
  </div>
  <div class="container-wrapper">
    <div class="container py-6">
      <ComparisonDaisy01 client:only="react" />
    </div>
  </div>
</Layout>
