---
import { ComparisonDaisy01 } from "@/components/comparison/01-daisy";
import Layout from "../layouts/Layout.astro";
import { ComparisonShadcn01 } from "@/components/comparison/01-shadcn";
import ShadcnStyled from "@/layouts/ShadcnStyled.astro";
import DaisyStyled from "@/layouts/DaisyStyled.astro";
---

<Layout>
  <div class="container-wrapper">
    <div class="container py-6">
      <ShadcnStyled>
        <ComparisonShadcn01 client:only="react" />
      </ShadcnStyled>
    </div>
  </div>
  <div class="container-wrapper">
    <div class="container py-6">
      <DaisyStyled>
        <ComparisonDaisy01 client:only="react" />
      </DaisyStyled>
    </div>
  </div>
</Layout>
