---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="p-10">
    <ul class="list-disc">
      <li>
        <a href="/components" class="hover:underline">Components</a>
      </li>
      <li>
        <a href="/comparison01" class="hover:underline">Comparison 01</a>
      </li>
    </ul>
  </div>
</Layout>
