---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="grid place-items-center h-screen content-center">
    <Button>Button</Button>
  </div>
</Layout>
