---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="p-10">
    <Button>Button</Button>
    <button class="btn btn-primary">Button</button>
  </div>
</Layout>
