---
import Layout from "../layouts/Layout.astro";
import { ComparisonShadcn01 } from "@/components/comparison/01-shadcn";
---

<Layout>
  <div class="flex w-full p-10">
    <div class="w-full">
      <ComparisonShadcn01 client:only="react" />
    </div>
    <div class="w-full"></div>
  </div>
</Layout>
