---
interface Props {
  theme: "light" | "shadcn";
}

const themes = ["light", "shadcn"];
const defaultTheme = "shadcn";

const { theme } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme={theme}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>DaisyUI - Shadcn Theme</title>
  </head>
  <body class="p-10">
    <slot />
  </body>
</html>
